<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8" id="view-page-content">

            <form class= "form" method="POST">
                
                <div class="view-survey-title"><%= survey.title %></div>
                <div class="view-survey-owner-name">By: <%= survey.nameUser %></div>
                <span class="view-survey-start">Starts: <%= survey.dateStart %></span>
                <span class="view-survey-end">Ends: <%= survey.dateEnd %></span>
                <!-- INFORMATION -->
                <br><hr>
                <!-- Text field -->
                <span class="view-survey-textfield-title"><%= survey.textFieldTitle %></span>
                <input placeholder="<%= survey.textFieldPlaceHolder %>" type="text" name="textField" id="textField" required>
                <br><hr>
                <!-- Select -->
                <span class="view-select-title"><%= survey.selectTitle %></span>

                <span class="view-survey-select-option">
                <input type="checkbox" name="selectOption1" id="selectCheckbox">
                <%= survey.selectOption1 %>
                </span>

                <span class="view-survey-select-option">
                <input type="checkbox" name="selectOption2" id="selectCheckbox">
                <%= survey.selectOption2 %>
                </span>

                <span class="view-survey-select-option">
                <input type="checkbox" name="selectOption3" id="selectCheckbox">
                <%= survey.selectOption3 %>
                </span>

                <!-- Rating -->
                <br><hr>
                <span id="headerLabel">
                <label for="rating"><%= survey.mcqTitle %></label>
                <label for="rating" id="paddingLabel"></label>
                <label for="rating" id="ratingLabel"><%= survey.mcqOption1 %></label>
                <label for="rating" id="ratingLabel"><%= survey.mcqOption2 %></label>
                <label for="rating" id="ratingLabel"><%= survey.mcqOption3 %></label>
                <label for="rating" id="ratingLabel"><%= survey.mcqOption4 %></label>
                </span>
                <hr>
                <span class="view-MCQ-title"><%= survey.mcqTitle1 %></span>
                <input type="radio" value=1 name="mcq1" id="ratingRadioButton" required>
                <input type="radio" value=2 name="mcq1" id="ratingRadioButton">
                <input type="radio" value=3 name="mcq1" id="ratingRadioButton">
                <input type="radio" value=4 name="mcq1" id="ratingRadioButton">
                <hr>
                <span class="view-MCQ-title"><%= survey.mcqTitle2 %></span>
                <input type="radio" value=1 name="mcq2" id="ratingRadioButton" required>
                <input type="radio" value=2 name="mcq2" id="ratingRadioButton">
                <input type="radio" value=3 name="mcq2" id="ratingRadioButton">
                <input type="radio" value=4 name="mcq2" id="ratingRadioButton">
                <hr>
                <span class="view-MCQ-title"><%= survey.mcqTitle3 %></span>
                <input type="radio" value=1 name="mcq3" id="ratingRadioButton" required>
                <input type="radio" value=2 name="mcq3" id="ratingRadioButton">
                <input type="radio" value=3 name="mcq3" id="ratingRadioButton">
                <input type="radio" value=4 name="mcq3" id="ratingRadioButton">
                <hr>
                <span class="view-MCQ-title"><%= survey.mcqTitle4 %></span>
                <input type="radio" value=1 name="mcq4" id="ratingRadioButton" required>
                <input type="radio" value=2 name="mcq4" id="ratingRadioButton">
                <input type="radio" value=3 name="mcq4" id="ratingRadioButton">
                <input type="radio" value=4 name="mcq4" id="ratingRadioButton">
                <hr>


                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit 
                </button>

                <a href="/home" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel 
                </a>
            </form>
        </div>
    </div>
    <br><br><br><br>
</div>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
